@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 3, 23;
  --background-end-rgb: 15, 3, 23;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 15, 3, 23;
    --background-end-rgb: 15, 3, 23;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.heading_2 {
  @apply text-4xl font-medium ;
}

.heading_3 {
  @apply text-2xl font-medium mt-16 ;
}

.heading_4 {
  @apply text-xl font-medium mt-12 ;
}

.paragraph {
  @apply text-xl mt-10 ;
}

.test {
  color: #271c2ed5 ;
}
