@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 3, 23;
  --background-end-rgb: 15, 3, 23;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 15, 3, 23;
    --background-end-rgb: 15, 3, 23;
  }
}
::-webkit-scrollbar {
  width: 12px; /* width of the scrollbar */
}
::-webkit-scrollbar-thumb {
  background-color: rgb(51, 39, 59);
  border-radius: 10px;
  border: 3px solid rgba(39, 28, 46, 1);
  height: 100px;
   /* color of the thumb */
}
::-webkit-scrollbar-track {
  background-color: rgba(39, 28, 46, 1); /* color of the track */
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
      
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

.heading_2 {
  @apply text-4xl font-medium ;
}

.heading_3 {
  @apply text-2xl font-medium mt-16 ;
}

.heading_4 {
  @apply text-xl font-medium mt-12 ;
}

.paragraph {
  @apply text-xl mt-10 ;
}

.form_container {
  @apply flex flex-col m-auto px-[8vw] sm:max-w-sm  sm:px-10 items-center justify-center mt-[10vh]
}

.form_input {
  border: 1px solid #6a5677;
  @apply bg-transparent rounded w-full px-4 py-2 text-wrap;
}


.form_input:focus {
  border: 2px solid #6a5677;
  @apply outline-none rounded w-full px-4 py-2 text-wrap
}

.form_button {
  @apply border-none rounded w-full px-4 py-2 bg-secondary hover:bg-secondary-dark text-white text-wrap font-bold
}

.form_button_2 {
  border: 1px solid #6a5677;
  @apply rounded w-full px-4 py-2 bg-transparent text-white text-wrap font-bold;
}

/* Sidebar */

.sidebar_container {
  @apply hidden sm:flex sm:w-[30%] lg:w-[20%] h-screen bg-primary-transparent px-3 py-4
}

/* Dashboard */
.dashboard_container {
  @apply  w-full ml-0 sm:pl-[calc(30%+0.75rem)] lg:pl-[calc(20%+1.5rem)] mt-16 p-4 sm:p-6 lg:p-8 flex justify-center
}

.test {
  color: #0f0317;
  color: #6a5677 ;
  color: #271c2e;
}

.my_blur {
  backdrop-filter: blur(5px);
}
.my_blur_2 {
  backdrop-filter: blur(10px);
}